@use 'sass:math';
@use '../../common-styles/common' as *;

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color, 0.5);
}

.modal-content {
  height: 90%;

  .close-btn {
    background-color: black;
    border-radius: math.div($spacing, 2);
    cursor: pointer;
    margin: $spacing;
    padding: math.div($spacing, 3);
    position: absolute;

    &:hover {
      background-color: #333;
    }
  }
}
