@use '../common-styles/common' as *;

html {
  background-color: $background-color;

  color: $color;
  font-family: Roboto, 'Open Sans', sans-serif;
  font-size: 19px;
  line-height: 1.5;

  scroll-behavior: smooth;
  scroll-padding-top: $header-height;
}

body {
  margin: 0;
}

main {
  margin: 0 $spacing;
}

@media (min-width: $sm-breakpoint) {
  main {
    margin: 0 auto;
    max-width: calc($sm-breakpoint - $spacing);
  }
}
