h1,
h3,
h4 {
  color: $color;
  font-weight: 700;
  margin-top: 0;
}

h1 {
  font-size: 2 * $font-size;
  margin-bottom: 3 * $spacing;
}

h3 {
  $font-size: 1.5 * $font-size;
  margin-bottom: $spacing;
}

h4 {
  font-size: 1.25 * $font-size;
  margin-bottom: 1.25 * $spacing;
}

hgroup {
  margin-bottom: $spacing * 1.5;

  & > * {
    margin-bottom: 0;
  }

  & > :last-child {
    color: $muted-color;

    font-weight: initial;
    font-size: unset;
  }
}
