@use './variables' as v;

a {
  $transition: 0.3s ease-in-out;

  color: v.$link-color;
  text-decoration: none;
  transition: color $transition, text-decoration $transition;

  &:hover {
    color: v.$link-hover-color;
    text-decoration: underline;
  }
}
