$primary: #355a20;
$secondary: #dcfcec;

$primary-shaded: #203613;

$background-color: $primary;
$color: #fff;
$muted-color: #73828c;

$header-height: 105px;
$link-color: $color;
$link-hover-color: #eee;
$spacing: 1rem;
$font-size: 1rem;

$sm-breakpoint: 800px;
