@import '../../common-styles/variables';
@import '../../common-styles/headers';
@import '../../common-styles/links';

a {
  text-decoration: underline;
}

.article-container {
  display: flex;
  flex-direction: column;
  gap: $spacing;
}
