@use '../../common-styles/common' as *;

.blurb {
  @include card();
  margin-bottom: $spacing;

  a {
    font-size: $font-size * 2;
    text-decoration: underline;
  }
}

.article-container {
  display: flex;
  flex-direction: column;
  gap: $spacing;
}

.modal-photo {
  cursor: pointer;
  height: 100%;
  width: 100%;
}
